@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce&family=Prompt:wght@100&display=swap");

.footer {
  height: 20%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer button {
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  border-width: 0;
  border-radius: 3rem;
  padding: 2rem 4rem;
  margin-left: 0rem;
}

.home {
  margin: 0;
  padding: 0;
  height: 55rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.header {
  height: 15%;
  width: 100%;
  background-color: #d6d2c470;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  position: absolute;
  margin: 0;
  overflow-y: hidden;
  padding-left: 3rem;
}

.imageSection {
  display: block;
  width: 30%;
  height: 60%;
  background-color: #000000;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  margin-left: 70%;
  margin-top: 10%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.logo {
  height: 200%;
  width: 10%;
}

.textBox {
  height: 50%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textBox p {
  color: #000;
  font-family: "Birthstone Bounce", sans-serif;
  font-size: 7rem;
}

.textSection {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  height: 50%;
  align-items: center;
  justify-content: space-between;
  margin-top: 13%;
  margin-right: auto;
  margin-left: 10rem;
}

.wineImage {
  height: 55%;
  width: 75%;
  display: block;
  margin: 25% auto;
}
